body {
  margin: 0; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; }
  body h3 {
    font-size: 24px; }
  body button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.title_restaurant {
  font-family: "Shrikhand", serif;
  font-size: 28px; }

.button-discover {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(to right top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 25px;
  padding: 18px;
  color: white;
  font-weight: 500;
  width: 200px;
  border: none;
  cursor: pointer; }

.image-background img {
  object-fit: cover;
  width: 100%;
  height: 315px; }

.section-meal {
  padding-bottom: 40px; }

.menu-grid {
  background-color: #f6f6f6; }
  .menu-grid_container {
    background-color: #f6f6f6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 35px 35px 0 0;
    position: relative;
    top: -40px; }
  .menu-grid_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    padding-left: 15px; }
  .menu-grid_subtitle {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 300; }
    .menu-grid_subtitle::after {
      content: "";
      display: block;
      width: 60%;
      height: 2px;
      background-color: #99e2d0;
      position: absolute;
      bottom: -8px; }
  .menu-grid_card {
    padding: 7px; }
    .menu-grid_card button {
      width: 100%;
      border: none;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.05); }

.plat-container {
  padding: 12px; }
  .plat-container_name {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    margin-bottom: 7px; }
  .plat-container_footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px; }
    .plat-container_footer_surname {
      font-weight: 300; }
    .plat-container_footer_tarif {
      font-weight: 700; }

.functioning__number {
  font-size: 14px;
  background-color: #9356dc;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 615px; }

.functioning__step {
  font-size: 16px;
  display: flex;
  margin: 15px;
  background-color: #f6f6f6;
  border-radius: 18px;
  padding: 25px;
  width: 100%;
  gap: 30px;
  box-shadow: 0px 5px 15px -8px #000000;
  align-items: center;
  border: none; }
  .functioning__step i {
    font-size: 25px;
    color: #7e7e7e; }
    .functioning__step i:hover {
      color: #9356dc; }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .functioning__number {
    left: 2px;
    top: 43px; } }

.card {
  background-color: white;
  border-radius: 20px;
  position: relative; }

.restaurant-cards {
  gap: 20px;
  display: flex;
  flex-direction: column; }
  .restaurant-cards img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
    .restaurant-cards img a {
      background-color: blue; }
  .restaurant-cards__new {
    background-color: #99e2d0;
    color: #008766;
    width: 13%;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 7px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px; }
  .restaurant-cards__text {
    padding-left: 15px;
    padding-bottom: 10px; }
  .restaurant-cards__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px; }
  .restaurant-cards__location {
    font-size: 17px;
    font-weight: 300;
    margin-top: 0px; }
  .restaurant-cards__rating {
    bottom: 40px;
    right: 35px;
    display: flex;
    position: absolute; }

.heart-label {
  display: inline-block; }
  .heart-label .heart-checkbox {
    display: none; }
    .heart-label .heart-checkbox:checked + .heart-icon {
      display: none; }
    .heart-label .heart-checkbox:checked ~ .heart-icon-filled {
      display: inline;
      color: #cf64dc; }
  .heart-label .heart-icon,
  .heart-label .heart-icon-filled {
    font-size: 25px;
    display: inline; }
  .heart-label .heart-icon-filled {
    display: none; }

.footer-menu {
  background-color: #353535;
  color: white;
  padding: 20px;
  margin: 0; }
  .footer-menu ul {
    list-style: none;
    padding-left: 0; }
  .footer-menu li {
    padding-top: 5px; }
  .footer-menu .fa-solid {
    margin-right: 15px; }

.footer-logo img {
  width: 100px;
  height: auto; }

.logo {
  display: flex;
  justify-content: center;
  margin: 25px; }
  .logo img {
    width: 10%; }

/* Tablette */
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .logo img {
    width: 50%; }
  .logo i.fa-arrow-left {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 25px;
    color: black; } }

.section-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 50px; }
  .section-page h2 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px; }
  .section-page h1 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 30px; }

.logo__recherche {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 17px;
  gap: 17px;
  font-weight: 500; }

.functioning-section {
  display: flex;
  flex-direction: column;
  padding: 30px 300px 70px 300px; }
  .functioning-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0; }
    .functioning-section ul li {
      list-style-type: none;
      width: 30%; }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .section-page {
    box-shadow: inset 0 5px 5px -5px #333; }
    .section-page h1 {
      font-size: 1.5rem; }
  .logo__recherche {
    box-shadow: inset 0 5px 5px -5px #333; }
  .functioning {
    display: flex;
    align-items: center;
    position: relative; }
  .functioning-section {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 70px 20px; }
    .functioning-section ul {
      padding-left: 0;
      flex-direction: column; }
      .functioning-section ul li {
        width: 100%; }
  .restaurant-section {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 70px 25px; }
    .restaurant-section a {
      text-decoration: none;
      color: inherit;
      cursor: pointer; } }
