header {
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 25px;
  & img {
    width: 200px;
  }
  & i.fa-arrow-left {
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 25px;
    color: black;
  }
}

/* Tablette */
@media (max-width: $breakpoint-md) {
}

/* Small devices (phones, less than 768px) */
@media (max-width: $breakpoint-sm) {
  .logo {
    & img {
      width: 50%;
    }
  }
}
