header {
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 25px;
  & img {
    width: 40%;
  }
  & i.fa-arrow-left {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 25px;
    color: black;
  }
}

@media (min-width: $breakpoint-sm) {
  .logo {
    & img {
      width: 200px;
    }
  }
}
