.functioning {
  &__number {
    font-size: 0.875rem;
    background-color: $color-primary;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 595px;
  }
  &__step {
    font-size: 1rem;
    display: flex;
    margin: 15px;
    background-color: #f6f6f6;
    border-radius: 18px;
    padding: 30px;
    width: 100%;
    gap: 30px;
    box-shadow: 0px 5px 15px -8px #000000;
    align-items: center;
    border: none;
    & i {
      font-size: 1.6rem;
      color: #7e7e7e;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
}

/* Small devices (phones, less than 768px) */
@media (max-width: $breakpoint-sm) {
  .functioning {
    &__number {
      left: 2px;
      top: 43px;
    }
    &__step {
      padding: 25px;
    }
  }
}
