.image-background {
  & img {
    object-fit: cover;
    width: 100%;
    height: 315px;
  }
}

.section-meal {
  padding-bottom: 40px;
}

.menu-grid {
  &_container {
    background-color: #f6f6f6;
    padding: 0 180px 50px;
    margin: -40px 100px 0;
    border-radius: 35px 35px 0 0;
    position: relative;
  }

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-left: 15px;
  }

  &_subtitle {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 300;
    &::after {
      content: "";
      display: block;
      width: 60%;
      height: 2px;
      background-color: $color-tertiary;
      position: absolute;
      bottom: -8px;
    }
  }

  &_card {
    padding: 7px;
  }
}

.plat {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  &__card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    height: 4.5em;
    overflow: hidden;
    cursor: pointer;

    &__txt {
      gap: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 1;
      padding: 10px;
      @include ellipse;

      &--title {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        @include ellipse;
      }

      &--description {
        font-weight: 300;
        font-size: 15px;
        margin: 0;
        @include ellipse;
      }
    }

    &__price {
      width: 4.3em;
      display: flex;
      padding-top: 2.3em;
      justify-content: center;
      font-weight: 700;
    }

    &__check {
      width: 4.3em;
      margin-right: -4.3em;
      background-color: $color-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    &:hover > .plat__card__check {
      margin: 0;
      transition: all 0.4s;
    }
  }
}

.fa-circle-check {
  color: white;
}

.section-meal {
  opacity: 0;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;

  &#entrees {
    animation-delay: 0.4s;
  }

  &#plats {
    animation-delay: 0.8s;
  }

  &#desserts {
    animation-delay: 1.2s;
  }
}

/* Tablette */
@media (max-width: $breakpoint-md) {
  .menu-grid {
    &_container {
      padding: 0 90px 50px;
    }
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: $breakpoint-sm) {
  .menu-grid {
    &_container {
      margin: -40px 0;
      padding: 0 10px 50px;
    }
    &_title {
      justify-content: space-between;
    }
  }
}
