@use "../abstracts/breakpoint" as bp;

.card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 100%;
  flex: 0 1 auto;
}

.restaurant-cards {
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  & img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__new {
    background-color: #99e2d0;
    color: #008766;
    width: 50px;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 7px 15px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
  }

  &__text {
    padding-left: 15px;
    padding-bottom: 10px;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__location {
    font-size: 17px;
    font-weight: 300;
    margin-top: 0px;
  }

  &__rating {
    bottom: 40px;
    right: 35px;
    display: flex;
    position: absolute;
  }
}

@media (min-width: bp.$breakpoint-sm) {
  .restaurant-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 70px;
  }

  .card {
    flex: 1 1 calc(50% - 70px);
  }
}
