@use "../abstracts/breakpoint" as bp;
@use "../abstracts/variables" as vars;

.restaurant-section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 30px 25px 70px 25px;

  & a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.section-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 50px;
  box-shadow: inset 0 5px 5px -5px #333;

  h2 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

.logo__recherche {
  box-shadow: inset 0 5px 5px -7px #333;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 17px;
  font-weight: 500;
  gap: 2px;

  & i.fa-location-dot {
    display: flex;
    align-items: center;
  }

  & input {
    background: none;
    font-size: 1.125rem;
    border: none;
    text-align: center;
    &:focus {
      outline: 1px solid vars.$color-primary;
      border-radius: 5px;
    }
    &::placeholder {
      color: black;
    }
  }
}
.functioning {
  display: flex;
  align-items: center;
  position: relative;
}

.functioning-section {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 70px 20px;
  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    gap: 0px;
    & li {
      list-style-type: none;
      width: 100%;
    }
  }
}

@media (min-width: bp.$breakpoint-sm) {
  .logo__recherche {
    box-shadow: none;
  }
  .functioning-section {
    display: flex;
    flex-direction: column;
    & ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      gap: 30px;
    }
  }

  .section-page {
    box-shadow: none;
    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: bp.$breakpoint-md) {
  .restaurant-section,
  .functioning-section {
    padding: 30px 150px 70px;
  }
}
